<div class="row">
    <div class="col text-center">
        <div class="row bg-dark text-white p-2">
            <h5 class="text-center" style="margin: 0 auto;"> Tu compra fue un éxito!</h5>
        </div>
        <div class="row my-2 ">
            <div class="col text-center">
                <p> Acabas de comprar el paquete</p>
                <h4 class="text-danger"> 2 DIAS CON 50 MIN Y 60 MB</h4>
                <hr>
            </div>
        </div>
        <div class="row my-2 ">
            <div class="col-4 text-center border-right">
                <span> 50</span><br>
                <span class="text-danger text-sm"> Minutos</span><br>
                <i class="fas fa-mobile-alt text-danger"></i>
            </div>
            <div class="col-4 text-center border-right">
                <span> 60</span><br>
                <span class="text-danger text-sm"> Megas</span><br>
                <i class="fa fa-globe text-danger" aria-hidden="true"></i>
            </div>
            <div class="col-4 text-center">
                <span> 3000</span><br>
                <span class="text-danger text-sm"> SMS</span><br>
                <i class="fas fa-sms text-danger"></i>
            </div>
        </div>
        <div class="row my-2 ">
            <div class="col text-center">
                <p> Incluye:
                    <i class="fa fa-whatsapp text-danger mr-1" aria-hidden="true"></i>
                    <i class="fa fa-twitter text-danger mr-1" aria-hidden="true"></i>
                    <i class="fa fa-facebook text-danger" aria-hidden="true"></i> </p>
                <p> Sin gastar tus datos </p>
                <hr>
            </div>
        </div>
    </div>

</div>